<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587098651014-cq4oajjglu6961klm1nqb6act2lahus7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587098651014-cq4oajjglu6961klm1nqb6act2lahus7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>587098651014-4a2uiv3s0aro7s8ln0df1b2uu7tllmu1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA1xV8dHW1DFEDLrpH1_buyU-eJZmcr_z0</string>
	<key>GCM_SENDER_ID</key>
	<string>587098651014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sethbase.absurd-toolbox</string>
	<key>PROJECT_ID</key>
	<string>absurdtoolbox</string>
	<key>STORAGE_BUCKET</key>
	<string>absurdtoolbox.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587098651014:ios:876c6562acced470589407</string>
	<key>DATABASE_URL</key>
	<string>https://absurdtoolbox-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>